@import "variables";

.floatleft {
  float: left;
}

.pencil-ad {
  width: 735px;
  height: 90px;
  margin: 0 auto;
  clear: both;

  @media (max-width: 735px) {
    display: none;
  }

  footer & {
    padding-top: 1em;
  }
}