@import "variables";

.body {
  background-color: @dark;
  color: white;
  font-size: 18px;
  font-family: Georgia, serif;
  padding: 8px;
  margin: 0;
}

.headline {
  width: 100%;
  margin: 30px auto 20px;
  clear: both;
  text-align: center;
  color: @seaGreen;
  font-size: 6em;
  line-height: 1.1em;
  text-transform: uppercase;
  font-family: @block;

  @media @mobile {
    font-size: 4em;
  }
}

.summary {
  color: @seaGray;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 5px auto;
  width: 70%;

  @media @tablet {
    width: 100%;
  }
}

.gray-accent {
  color: @seaGray;
}

.green-accent {
  color: @seaGreen;
}

.gray-background {
  background-color: rgba(255,255,255,0.2);
  padding: 2px;
}

.uppercase {
  text-transform: uppercase;
}

section.seahawks-content {
  width: calc(~'100% - 320px');
  float: left;
  padding: 0 10px;
  position: relative;

  ul.cards {
    width: 100%;
    padding: 0;
    font-family: @block;

    .cards-label {
      margin-right: 5px;
    }

    li {
      display: inline-block;
      font-size: 14px;

      &.card {
        background-color: @seaGreen;
        color: @seaBlue;
        padding: 5px;
        vertical-align: middle;
        text-align: center;
        min-width: 100px;
        margin: 2px 0;
        transition: background 0.2s ease, color 0.2s ease;

        &:hover {
          background-color: @seaBlue;
          color: @seaGray;
        }

        &.inactive {
          background-color: @seaGray;

          &:hover {
            color: @seaBlue;
          }
        }

        i.fa {
          display: block;
          font-size: 40px;

          @media @mobile {
            display: none;
          }
        }
      }

      label.notice {
        font-family: Helvetica;
        font-size: 80%;
        display: block;
      }
    }
  }

  @media @tablet {
    width: 100%;
  }
}

.storify {

  iframe {
    width: 100%!important;
    max-width: 100%!important;
  }
}

.sfy-story {
  display: none!important;
}

footer {
  width: 100%;
  position: relative;
  clear: both;
  margin: 2em auto 1em;
  border-top: 1px solid #AAA;
}