// SCREEN WIDTHS
@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 768px)";
@landscape: ~"(max-width: 1024px)";

// COLORS
@dark: #333;
@seaGreen: #1DD83C;
@seaBlue: #00163F;
@seaGray: #A5A7AF;

// FONTS
@block: 'Oswald', sans-serif;

// DISPLAY WIDTHS
@body: 75%;
@ad: 25%;