<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="body">

    <%= t.include("partials/_adTop.html") %>

    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="assets/st-logo.png" />
      </a>
    </nav>

    <header>
      <h1 class="headline"><span class="gray-accent">2015 Hawks</span> Fan Frenzy</h1>
      <p class="summary">The Seahawks are aiming for another Super Bowl victory and who can blame their fans for wanting to have a little fun along the way? Check this page for latest fun promotions and the viral news bits that everyone’s talking about. <a class="share"></a>
    </header>

    <section class="seahawks-content">
      <ul class="cards uppercase">
        <label class="gray-accent cards-label">Download our</label>
          <li class="card inactive">Wilson paper doll <i class="fa fa-scissors"></i> <label class="notice">Jan. 2</label></li>
<!--         <a href="#">
          <li class="card">Lynch doll <i class="fa fa-scissors"></i></li>
        </a> -->
<!--         <a href="#">
          <li class="card">Sherman doll <i class="fa fa-scissors"></i></li>
        </a> -->
<!--         <a href="#">
          <li class="card">Paper lanterns <i class="fa fa-moon-o"></i></li>
        </a> -->
<!--         <a href="#">
          <li class="card">Paper plane <i class="fa fa-paper-plane-o"></i></li>
        </a> -->
<!--         <a href="#">
          <li class="card">Pom-poms <i class="fa fa-certificate"></i></li>
        </a> -->
<!--         <a href="#">
          <li class="card">Life-size poster <i class="fa fa-male"></i></li>
        </a> -->
      </ul>

<!--       <ul class="cards uppercase">
        <label class="gray-accent">Play our</label>
        <a href="#">
          <li class="card">Personality quiz <i class="fa fa-question-circle"></i></li>
        </a>
        <a href="#">
          <li class="card">Crossword <i class="fa fa-newspaper-o"></i></li>
        </a>
        <a href="#">
          <li class="card">Bingo <i class="fa fa-pencil-square-o"></i></li>
        </a>
      </ul> -->

  <div class="storify" id="storify">
    <iframe src="//storify.com/theseattletimes/seahawks-fan-frenzy/embed?header=false&border=false&template=grid" width="100%" height="750" frameborder="no" allowtransparency="true"></iframe>
    <script src="//storify.com/theseattletimes/seahawks-fan-frenzy.js?header=false&border=false&template=grid"></script>
  </div>

    </section>

    <section class="tower-ad">
      <%= t.include("partials/_adRight.html") %>
    </section>

    <footer>
      <%= t.include("partials/_adTop.html") %>
    </footer>

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>