<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="body">

    <%= t.include("partials/_adTop.html") %>

    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="assets/st-logo.png" />
      </a>
    </nav>

    <header>
      <h1 class="headline"><span class="gray-accent">Seahawks</span> Fan Frenzy</h1>
      <p class="summary"><span class="gray-background">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </header>

    <section class="seahawks-content">
      <ul class="cards uppercase">
        <label class="gray-accent">Download our</label>
        <a href="#">
          <li class="card">Wilson doll <i class="fa fa-scissors"></i></li>
        </a>
        <a href="#">
          <li class="card">Lynch doll <i class="fa fa-scissors"></i></li>
        </a>
        <a href="#">
          <li class="card">Sherman doll <i class="fa fa-scissors"></i></li>
        </a>
        <a href="#">
          <li class="card">Paper lanterns <i class="fa fa-moon-o"></i></li>
        </a>
        <a href="#">
          <li class="card">Paper plane <i class="fa fa-paper-plane-o"></i></li>
        </a>
        <a href="#">
          <li class="card">Pom-pom <i class="fa fa-certificate"></i></li>
        </a>
        <a href="#">
          <li class="card">Life-size poster <i class="fa fa-male"></i></li>
        </a>
      </ul>

      <ul class="cards uppercase">
        <label class="gray-accent">Play our</label>
        <a href="#">
          <li class="card">Personality quiz <i class="fa fa-question-circle"></i></li>
        </a>
        <a href="#">
          <li class="card">Crossword <i class="fa fa-newspaper-o"></i></li>
        </a>
        <a href="#">
          <li class="card">Bingo <i class="fa fa-pencil-square-o"></i></li>
        </a>
      </ul>

      <div class="storify" id="storify">
        <iframe src="//storify.com/seattletimes/apple-cup-spirit-2014/embed?header=false&border=false&template=grid" width="100%" frameborder="no" allowtransparency="true" scrolling="yes"></iframe>
        <script src="//storify.com/seattletimes/apple-cup-spirit-2014.js?header=false&border=false&template=grid"></script>
      </div>

    </section>

    <section class="tower-ad">
      <%= t.include("partials/_adRight.html") %>
    </section>

<!--     <footer>
      <%= t.include("partials/_adTop.html") %>
    </footer> -->

    <script src="app.js"></script>
    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>